*{
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: aliceblue;
}

#main{
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: beige;
    width: 60%;
    height: 60%;
    border-radius: 0.5em;
    border: 1px solid black;
}

.cont{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 10%;
    margin-top: 1%;
}

.title h1{
    margin-top: 3%;
    font-size: 1.25em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 25%;
}

.def_link{
    font-size: 0.8em;
}

.start{
    margin-top: 3%;
}

.arr_val{
    margin-top: 3%;
}

.arr_val .arr{
    font-size: 1.2em;
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.num_inp{
    background-color: ghostwhite;
    text-align: center;
    margin: 1% 1%;
    padding: 0.5% 1%;
    width: 7%;
    font-size: 1.05em;
    border-color: black;
}

.btn_bin_search{
    border-color: black;
    background-color: ghostwhite;
    display: block;
    position: relative;
    left: 25%;
    margin-top: 3%;
    width: 25%;
    height: 10%;
    font-size: large;
    border-radius: 0.25em;
}

.btn_bin_search:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    transition: 0.7s;
}

